<div class="trip-price p-bottom-30">
    <div class="price">
        <legend class="label-text p-top-30 p-left-20">
            Price
        </legend>

        <section name="Egyption">
            <div class="row">
                <div class="col-sm-5">
                    <label class="label-text pull-left">Egyption</label>
                    <div class="input-group  pull-left col-xs-2">
                        <input class="form-control no-border-right  ">
                        <span class="input-group-addon ">EGP</span>

                    </div>
                    <label class="label-text  pull-left">Without transportation</label>
                </div>
                <div class="col-sm-3">
                    <div class="input-group col-xs-2">

                        <input class="form-control no-border-right">
                        <span class="input-group-addon">EGP</span>
                    </div>
                </div>
            </div>

            <div class="row p-top-30">
                <div class="col-sm-3">
                    <label class="label-text pull-left">Age from</label>
                    <div class="form-group pull-left">

                        <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                    </div>
                    <label class="label-text ">to</label>

                </div>
                <div class="col-sm-1">
                    <div class="form-group">

                        <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="radio-inline pull-left">
                <input type="checkbox" name="optradio" >
            <label class="label-text p-left-10 ">Kids from</label>
                    </label>

                    <div class="input-group  col-xs-1 pull-left">
                        <input class="form-control border10 input-sm">
                    </div>

                    <label class="label-text pull-left">free</label></div>
            </div>
        </section>

        <hr>
        <section name="Foreigner">
            <div class="row">
                <div class="col-sm-5">
                    <label class="label-text pull-left">Foreigner</label>
                    <div class="input-group  pull-left col-xs-2">
                        <input class="form-control no-border-right  ">
                        <span class="input-group-addon ">EGP</span>

                    </div>
                    <label class="label-text  pull-left">Without transportation</label>
                </div>
                <div class="col-sm-3">
                    <div class="input-group col-xs-2">

                        <input class="form-control no-border-right">
                        <span class="input-group-addon">EGP</span>
                    </div>
                </div>
            </div>

            <div class="row p-top-30">
                <div class="col-sm-3">
                    <label class="label-text pull-left">Age from</label>
                    <div class="form-group pull-left">

                        <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                    </div>
                    <label class="label-text ">to</label>

                </div>
                <div class="col-sm-1">
                    <div class="form-group">

                        <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="radio-inline pull-left">
                <input type="checkbox" name="optradio" >
            <label class="label-text p-left-10 ">Kids from</label>
                    </label>

                    <div class="input-group  col-xs-1 pull-left">
                        <input class="form-control border10 input-sm">
                    </div>

                    <label class="label-text pull-left">free</label></div>
            </div>
        </section>
    </div>

    <hr>
    <div class="offer">
        <legend class="label-text p-top-30 p-left-20">
            offer
        </legend>
        <section name="Egyption">
            <div class="row">
                <div class="col-sm-5">
                    <label class="label-text pull-left">Egyption</label>
                    <div class="input-group  pull-left col-xs-2">
                        <input class="form-control no-border-right  ">
                        <span class="input-group-addon ">EGP</span>

                    </div>
                    <label class="label-text  pull-left">Without transportation</label>
                </div>
                <div class="col-sm-3">
                    <div class="input-group col-xs-2">

                        <input class="form-control no-border-right">
                        <span class="input-group-addon">EGP</span>
                    </div>
                </div>
            </div>

            <div class="row p-top-30">
                <div class="col-sm-3">
                    <label class="label-text pull-left">Age from</label>
                    <div class="form-group pull-left">

                        <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                    </div>
                    <label class="label-text ">to</label>

                </div>
                <div class="col-sm-1">
                    <div class="form-group">

                        <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="radio-inline pull-left">
                <input type="checkbox" name="optradio" >
            <label class="label-text p-left-10 ">Kids from</label>
                    </label>

                    <div class="input-group  col-xs-1 pull-left">
                        <input class="form-control border10 input-sm">
                    </div>

                    <label class="label-text pull-left">free</label></div>
            </div>
        </section>

        <hr>
        <section name="Foreigner">
            <div class="row">
                <div class="col-sm-5">
                    <label class="label-text pull-left">Foreigner</label>
                    <div class="input-group  pull-left col-xs-2">
                        <input class="form-control no-border-right  ">
                        <span class="input-group-addon ">EGP</span>

                    </div>
                    <label class="label-text  pull-left">Without transportation</label>
                </div>
                <div class="col-sm-3">
                    <div class="input-group col-xs-2">

                        <input class="form-control no-border-right">
                        <span class="input-group-addon">EGP</span>
                    </div>
                </div>
            </div>

            <div class="row p-top-30">
                <div class="col-sm-3">
                    <label class="label-text pull-left">Age from</label>
                    <div class="form-group pull-left">

                        <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                    </div>
                    <label class="label-text ">to</label>

                </div>
                <div class="col-sm-1">
                    <div class="form-group">

                        <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="radio-inline pull-left">
                <input type="checkbox" name="optradio" >
            <label class="label-text p-left-10 ">Kids from</label>
                    </label>

                    <div class="input-group  col-xs-1 pull-left">
                        <input class="form-control border10 input-sm">
                    </div>

                    <label class="label-text pull-left">free</label></div>
            </div>
        </section>
    </div>


</div>