.description {
    border: 1px solid rgb(92, 20, 20);
    border-radius: 20px;
}

label {
    color: darkblue;
    font-size: 20px;
    padding-left: 15px;
}

legend {
    border-bottom: 0px;
    color: darkblue;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 25px;
}