<div class="description m-bottom-50">

    <legend>
        Description
    </legend>
    <div class="row">
        <div class="col-md-2 p-bottom-30">

            <label for="Title">
            Title</label>
        </div>
        <div class="col-md-10 p-bottom-30 p-right-50 p-left-50">
            <input type="text" class="form-control" id="Title" placeholder="Trip Name">
        </div>

        <div class="col-md-2 p-bottom-30 ">
            <label for="Description">
                    Description
                  </label>
        </div>

        <div class="col-md-10 p-bottom-30 p-right-50 p-left-50">
            <textarea class="form-control" id="Description" rows="3" placeholder="Write a 
            description about the trip and more 
             information,you would like th travelars to
              know about your trip">
            </textarea>

        </div>


    </div>
</div>