<div class="container ">

  <legend>
    <h3 class="pull-left">
      Transportation
    </h3>
    <i class="glyphicon glyphicon-plus-sign pull-left">
    </i>
    <div class="clearfix"></div>
  </legend>


  <!-- <table class="table">
    <thead>
      <tr>
        <th class="width-10"></th>
        <th>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="width-10">Time</td>
        <td>Doe</td>

      </tr>
      <tr>
        <td class="width-10">Stop one</td>
        <td><input type="text" class="form-control" id="Title" placeholder="Trip Name">
        </td>

      </tr>
      <tr>
        <td class="width-10">Time</td>
        <td>Dooley</td>
      </tr>
      <tr>
        <td colspan="2">Time</td>
      </tr>

    </tbody>
  </table> -->

  <div class="transportation-form">
    <div class="row m-bottom-30">
      <div class="col-md-1">
        <label>Stop one</label>
      </div>
      <div class="col-md-11">
        <input type="text" class="form-control" id="Title" placeholder="Trip Name">
      </div>
    </div>

    <div class="row m-bottom-30">
      <div class="col-md-1">
        <label>Time</label>
      </div>
      <div class="col-md-11">
        Doe
      </div>
    </div>

    <div class="row m-bottom-30">
      <div class="col-md-1">
        <label>Stop one</label>
      </div>
      <div class="col-md-11">
        <input type="text" class="form-control" id="Title" placeholder="Trip Name">
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-3">.col-sm-4</div>
    <div class="col-sm-3">.col-sm-4</div>
    <div class="col-sm-3">.col-sm-4</div>
    <div class="col-sm-3">.col-sm-4</div>
  </div>
</div>
