<div class="container ">

    <legend>
        <h3 class="float-left">
            Transportation
        </h3>

        <i class="glyphicon glyphicon-plus-sign">
    </i>
    </legend>

    <table class="table">
        <thead>
            <tr>
                <th class="width-10">Stop one</th>
                <th><input type="text" class="form-control" id="Title" placeholder="Trip Name">
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="width-10">Time</td>
                <td>Doe</td>

            </tr>
            <tr>
                <td class="width-10">Stop one</td>
                <td><input type="text" class="form-control" id="Title" placeholder="Trip Name">
                </td>

            </tr>
            <tr>
                <td class="width-10">Time</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td colspan="2">Time</td>
            </tr>

        </tbody>
    </table>
    <div>
        <div class="col-sm-3">.col-sm-4</div>
        <div class="col-sm-3">.col-sm-4</div>
        <div class="col-sm-3">.col-sm-4</div>
        <div class="col-sm-3">.col-sm-4</div>
    </div>
</div>