<div class="transportation m-bottom-50">

    <legend>
        <h3 class="pull-left">
            Transportation
        </h3>
        <i class="glyphicon glyphicon-plus-sign pull-left">
    </i>
        <div class="clearfix"></div>
    </legend>



    <div class="transportation-form">
        <div class="row m-bottom-30">
            <div class="col-md-2">
                <label>Stop one</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Title" placeholder="Trip Name">
            </div>
        </div>

        <div class="row m-bottom-30">
            <div class="col-md-2">
                <label>Time</label>
            </div>
            <div class="col-md-10">
                Doe
            </div>
        </div>

        <div class="row m-bottom-30">
            <div class="col-md-2">
                <label>Stop one</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Title" placeholder="Trip Name">
            </div>
        </div>

        <div class="row m-bottom-30">
            <div class="col-md-2">
                <label>Time</label>
            </div>
            <div class="col-md-10">
                Doe
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3">.col-sm-4</div>
        <div class="col-sm-3">.col-sm-4</div>
        <div class="col-sm-3">.col-sm-4</div>
        <div class="col-sm-3">.col-sm-4</div>
    </div>
</div>