<div class="container">
  <tabset>
    <tab heading="Schadual" customClass="customClass">
      <tabset>


        <tab *ngFor="let tabzOfDay of tabsofDays" 
        [heading]="tabzOfDay.title"
         [customClass]="tabzOfDay.customClass">
          <h3>
            {{tabzOfDay?.content2}}
          </h3>
          <h4>
            {{tabzOfDay?.content1}}
          </h4>
          <h3>
            {{tabzOfDay?.content2}}
          </h3>
          <h4>
            {{tabzOfDay?.content1}}
          </h4>
          <h3>
            {{tabzOfDay?.content2}}
          </h3>
          <h4 >
            {{tabzOfDay?.content1}}
          </h4>
          <h3>
            {{tabzOfDay?.content2}}
          </h3>
          <h4>
            {{tabzOfDay?.content1}}
          </h4>
        </tab>
      </tabset>
    </tab>

    <tab *ngFor="let tabz of tabs" [heading]="tabz.title" 
    [customClass]="tabz.customClass">
      <h3>
        {{tabz?.content}}
      </h3>
    </tab>
  </tabset>
  <button type="button" class="btn btn-warning  m-bottom-50">
    BOOK NOW
  </button>
</div>