<div class="container p-top">
    <tabset  >
      <tab heading="Trips" id="tab1" class="p-top ">
        
      
          <app-trip-information></app-trip-information>
         
            <app-trip-information></app-trip-information>
          
             
               
             
      </tab>
      <tab heading="Favourite" class="p-top">Basic content 1</tab>
      <tab heading="Compare" class="p-top">
        <app-compare-table></app-compare-table>
      </tab>
      <tab heading="Posts" class="p-top">Basic content 2</tab>
      <tab heading="Rivews" class="p-top">Basic content 2</tab>
    </tabset>
  </div>
