<div class="container" style="padding-left: 30px;padding-right: 30px;">
    <tabset style="font-size: 20px;font-weight: 600; ">
      <tab heading="Trips" id="tab1" style="padding-top: 100px;">
        <div class="container container-border" style="padding:40px">
          <app-trip-information></app-trip-information>
          </div>
          <br>
          <div class="container container-border" style="padding:40px">
            <app-trip-information></app-trip-information>
            </div>
            <br>
            <div class="container container-border" style="padding:40px">
              <app-trip-information></app-trip-information>
              </div>
              <br>
              <div class="container container-border" style="padding:40px">
                <app-trip-information></app-trip-information>
                </div>
                <br>
                <div class="container container-border" style="padding:40px">
                  <app-trip-information></app-trip-information>
                  </div>
      </tab>
      <tab heading="Favourite">Basic content 1</tab>
      <tab heading="Compare">
        <app-compare-table></app-compare-table>
      </tab>
      <tab heading="Posts">Basic content 2</tab>
      <tab heading="Rivews">Basic content 2</tab>
    </tabset>
  </div>
