 <div class="container-fluid">
 
            <div class="row" >
                <div class="col-sm-12" style="width: 250px;">
                    
    <img style=" width: 100%;;display: block;" 
    src="assets/images/lONDN.jpg" alt="Card image"
    
    >
                </div>
                <div class="col-sm-12" style="width: 250px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                        style="background-color: darkorange;
                        text-align: center; border-radius:0% ;"
                        >AROUND NEWSLAND</li>
                        </ul>

                </div>
                
              </div>
            </div>