<div class="p-top">
    <div class="container">

        <legend>
            <h3 class="float-left">
                Available Dates
            </h3>

            <i class="glyphicon glyphicon-plus-sign">
        </i>
        </legend>


        <div>
            <div class="col-sm-6">
                <legend>
                    <h3>Starting From</h3>
                </legend>
                <form class="form-inline">
                    <div class="form-group">

                        <label for="Title">
                    <h4>
                        Day
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>

                        <label for="Title">
                    <h4>
                        Month
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                        <label for="Title">
                    <h4>
                        Year
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                    </div>
                </form>
            </div>


            <div class="col-sm-6">
                <legend>
                    <h3>Ending IN</h3>
                </legend>
                <form class="form-inline">
                    <div class="form-group">

                        <label for="Title">
                        <h4>
                            Day
                        </h4>
                    
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>

                        <label for="Title">
                    <h4>
                        Month
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                        <label for="Title">
                    <h4>
                        Year
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                    </div>
                </form>
            </div>

        </div>
        <div>
            <div class="col-sm-6">
                <legend>
                    <h3>Starting From</h3>
                </legend>
                <form class="form-inline">
                    <div class="form-group">

                        <label for="Title">
                        <h4>
                            Day
                        </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>

                        <label for="Title">
                    <h4>
                        Month
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                        <label for="Title">
                    <h4>
                        Year
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                    </div>
                </form>
            </div>


            <div class="col-sm-6">
                <legend>
                    <h3>Ending IN</h3>
                </legend>
                <form class="form-inline">
                    <div class="form-group">

                        <label for="Title">
                        <h4>
                            Day
                        </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>
                        <label for="Title">
                    <h4>
                        Month
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                        <label for="Title">
                    <h4>
                        Year
                    </h4>
                </label>
                        <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>