<div class="available-Dates m-bottom-50">

    <legend class="title-text ">
        <h3 class="pull-left ">
            Available Dates
        </h3>

        <i class="glyphicon glyphicon-plus-sign">
        </i>
    </legend>

    <div class="row">

        <div class="col-sm-6">
            <legend>
                <h3>Starting From</h3>
            </legend>
            <form class="form-inline">
                <div class="form-group">

                    <label class="label-text" for="Title">
                   
                        Day
                   
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>

                    <label class="label-text" for="Title">
                    
                        Month
                   
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                    <label class="label-text" for="Title">
                   
                        Year
                   
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                </div>
            </form>
        </div>


        <div class="col-sm-6">
            <legend>
                <h3>Ending IN</h3>
            </legend>
            <form class="form-inline">
                <div class="form-group">

                    <label class="label-text" for="Title">
                        
                            Day
                        
                    
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>

                    <label class="label-text" for="Title">
                   
                        Month
                   
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                    <label class="label-text" for="Title">
                    
                        Year
                    
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                </div>
            </form>
        </div>



        <div class="col-sm-6">
            <legend>
                <h3>Starting From</h3>
            </legend>
            <form class="form-inline">
                <div class="form-group">

                    <label class="label-text" for="Title">
                        
                            Day
                        
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>

                    <label class="label-text" for="Title">
                    
                        Month
                   
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                    <label class="label-text" for="Title">
                   
                        Year
                   
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                </div>
            </form>
        </div>


        <div class="col-sm-6">
            <legend>
                <h3>Ending IN</h3>
            </legend>
            <form class="form-inline">
                <div class="form-group">

                    <label class="label-text" for="Title">
                        
                            Day
                        
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let day of days">
                        {{day}}
                    </option>
                </select>
                    <label class="label-text" for="Title">
                    
                        Month
                    
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                    <label class="label-text" for="Title">
                    
                        Year
                    
                </label>
                    <select class="form-control" id="exampleSelect1">
                    <option *ngFor="let year of years">
                        {{year}}</option>
                </select>
                </div>
            </form>
        </div>
    </div>
</div>