<div class="container border">

    <legend>
        <h3 style="float: left; margin-right: 30px;">
            Available Dates
        </h3>
        
            <i class="glyphicon glyphicon-plus-sign"
             style="font-size: 35px;
            margin-top: -5px;
            margin-left: -15px;
             color: darkorange;
             "
             
             ></i>

        
        </legend>

        <div class="row" >
            <div class="col-sm-12"  style="padding: 0px;">
                <div class="col-sm-6" style="padding: 10px;">
                    <legend>
                        <h3>Starting From</h3></legend>     
                    <div class="form-group">
                        <label for="Title" style="float: left;margin-right: 5px;">
                            <h4 style=" margin-left: 
                            15px; margin-right: 5px;">
                            Day
                             </h4> 
                            </label>
                            <select 
                            class="form-control" 
                            id="exampleSelect1"
                            style="width: 65px;
                            float: left;
                            margin-right: 5px;">
                              <option *ngFor="let day of days">{{day}}</option> 
                            </select>
                
                            <label for="Title" style="float: left;margin-right: 5px;">
                                <h4 
                                style="margin-right: 5px;">
                                    Month 
                                </h4> 
                            </label>
                                <select 
                                class="form-control" 
                                id="exampleSelect1"
                                style="width: 65px;
                                float: left;
                                margin-right: 5px;">
                                  <option *ngFor="let month of months">{{month}}</option> 
                                </select>
                                <label for="Title" style="float: left;margin-right: 5px;">
                                    <h4 style=" margin-right:5px;">
                                        Year 
                                    </h4> 
                                </label>
                                    <select 
                                    class="form-control" 
                                    id="exampleSelect1"
                                    style="width: 80px;
                                    float: left;">
                                      <option *ngFor="let year of years">
                                          {{year}}</option> 
                                    </select>
                        </div>
                
                </div>  
                <div class="col-sm-6" style="padding: 10px;">
                    <legend >
                        <h3>Ending IN</h3></legend> 
                    <div class="form-group" >
                        <label for="Title" style="float: left;margin-right: 5px;">
                            <h4 style=" margin-left: 
                            15px; margin-right: 5px;">
                            Day
                             </h4> 
                            </label>
                            <select 
                            class="form-control" 
                            id="exampleSelect1"
                            style="width: 65px;
                            float: left;
                            margin-right: 5px;">
                              <option *ngFor="let day of days">{{day}}</option> 
                            </select>
                
                            <label for="Title" style="float: left;margin-right: 5px;">
                                <h4 
                                style="margin-right: 5px;">
                                    Month 
                                </h4> 
                            </label>
                                <select 
                                class="form-control" 
                                id="exampleSelect1"
                                style="width: 65px;
                                float: left;
                                margin-right: 5px;">
                                  <option *ngFor="let month of months">{{month}}</option> 
                                </select>
                                <label for="Title" style="float: left;margin-right: 5px;">
                                    <h4 style=" margin-right:5px;">
                                        Year 
                                    </h4> 
                                </label>
                                    <select 
                                    class="form-control" 
                                    id="exampleSelect1"
                                    style="width: 80px;
                                    float: left;">
                                      <option *ngFor="let year of years">
                                          {{year}}</option> 
                                    </select>
                        </div>
                
                </div>
        
            </div>
            <div class="col-sm-12"  style="padding: 0px; padding-top: 20px;">
                <div class="col-sm-6" style="padding: 10px;">
                    <legend>
                        <h3>Starting From</h3></legend>   
                    <div class="form-group">
                        <label for="Title" style="float: left;margin-right: 5px;">
                            <h4 style=" margin-left: 
                            15px; margin-right: 5px;">
                            Day
                             </h4> 
                            </label>
                            <select 
                            class="form-control" 
                            id="exampleSelect1"
                            style="width: 65px;
                            float: left;
                            margin-right: 5px;">
                              <option *ngFor="let day of days">{{day}}</option> 
                            </select>
                
                            <label for="Title" style="float: left;margin-right: 5px;">
                                <h4 
                                style="margin-right: 5px;">
                                    Month 
                                </h4> 
                            </label>
                                <select 
                                class="form-control" 
                                id="exampleSelect1"
                                style="width: 65px;
                                float: left;
                                margin-right: 5px;">
                                  <option *ngFor="let month of months">{{month}}</option> 
                                </select>
                                <label for="Title" style="float: left;margin-right: 5px;">
                                    <h4 style=" margin-right:5px;">
                                        Year 
                                    </h4> 
                                </label>
                                    <select 
                                    class="form-control" 
                                    id="exampleSelect1"
                                    style="width: 80px;
                                    float: left;">
                                      <option *ngFor="let year of years">
                                          {{year}}</option> 
                                    </select>
                        </div>
                
                </div>  
                <div class="col-sm-6" style="padding: 10px;">
                    <legend >
                        <h3>Ending IN</h3></legend> 
                    <div class="form-group">
                        <label for="Title" style="float: left;margin-right: 5px;">
                            <h4 style=" margin-left: 
                            15px; margin-right: 5px;">
                            Day
                             </h4> 
                            </label>
                            <select 
                            class="form-control" 
                            id="exampleSelect1"
                            style="width: 65px;
                            float: left;
                            margin-right: 5px;">
                              <option *ngFor="let day of days">{{day}}</option> 
                            </select>
                
                            <label for="Title" style="float: left;margin-right: 5px;">
                                <h4 
                                style="margin-right: 5px;">
                                    Month 
                                </h4> 
                            </label>
                                <select 
                                class="form-control" 
                                id="exampleSelect1"
                                style="width: 65px;
                                float: left;
                                margin-right: 5px;">
                                  <option *ngFor="let month of months">{{month}}</option> 
                                </select>
                                <label for="Title" style="float: left;margin-right: 5px;">
                                    <h4 style=" margin-right:5px;">
                                        Year 
                                    </h4> 
                                </label>
                                    <select 
                                    class="form-control" 
                                    id="exampleSelect1"
                                    style="width: 80px;
                                    float: left;">
                                      <option *ngFor="let year of years">
                                          {{year}}</option> 
                                    </select>
                        </div>
                
                </div>
        
            </div>
          </div>
         
    
  </div>
 
   
    