.available-Dates {
    border: 1px solid rgb(92, 20, 20);
    border-radius: 20px;
    padding: 25px;
}

.col-sm-6 {
    padding: 0px;
    padding-bottom: 20px;
}

h5,
.label-text {
    margin: 0px;
    font-weight: 600;
    color: darkblue;
    padding: 5px;
}

.form-control {
    border: 1px solid rgb(92, 20, 20);
    border-radius: 15px;
}

legend {
    padding: 5px;
}

.glyphicon-plus-sign {
    font-size: 35px;
    color: darkorange;
    padding-top: 16px;
    padding-left: 10px;
}

legend {
    border-bottom: 0px;
    color: darkblue;
    padding-left: 0px;
}

.p-left-0 {
    padding-left: 0px;
}