  <div class="container"
  style="padding-right: 50px;">

        <tabset style="font-size: 20px;
         margin-top:50px ;
           padding-right: 50px;">
          <tab
           heading="Trips"
           id="tab1"
           style="margin-top:50px ;
           padding-right: 50px;
           padding-left: 50px;

           "
           >
           <div class="container container-border"
            style="padding:30px;padding-top: 80px;
            width: 1050px;">

            <app-trip-information></app-trip-information>

          </div>
        </tab>
          <tab heading="Hot Offers">Basic content 1</tab>
          <tab heading="Pending">Basic content 2</tab>
          <tab heading="Insights">Basic content 1</tab>
          <tab heading="Drafts">Basic content 2</tab>
        </tabset>

  </div>
