<div class="container p-top p-bottom-50">
    <div class="row">
        <div class="col-sm-3" style="background-color: brown;">.col-sm-4</div>

        <div class="col-sm-9">

            <app-trip-form-description>
            </app-trip-form-description>

            <app-trip-form-available-dates>
            </app-trip-form-available-dates>

            <app-trip-form-accommodation>
            </app-trip-form-accommodation>

            <app-trip-form-trips>
            </app-trip-form-trips>

            <app-trip-form-transportation>
            </app-trip-form-transportation>

            <app-trip-form-price>
            </app-trip-form-price>

        </div>
    </div>

</div>