<div class="container p-top p-bottom-50">
    <div class="row">
        <div class="col-sm-3" style="background-color: brown;">.col-sm-4</div>

        <div class="col-sm-9">

            <app-trip-form-description>
            </app-trip-form-description>

            <app-trip-form-available-dates>
            </app-trip-form-available-dates>

            <app-trip-form-accommodation>
            </app-trip-form-accommodation>

            <app-trip-form-trips>
            </app-trip-form-trips>

            <app-trip-form-transportation>
            </app-trip-form-transportation>

            <app-trip-form-price>
            </app-trip-form-price>
            <div class="row m-bottom-30">
                <div class="col-md-6">
                    <button type="button" class="btn save-btn ">Save Trip</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn promote-btn pull-right">promote</button>
                </div>
            </div>
            <app-trip-form-promote></app-trip-form-promote>
        </div>
    </div>

</div>