<div class="row  container center-block" style="text-align: center;">
  <h2>
    <p class="text-warning " style="padding-bottom:30px ;">
      BEST SELLING TRIPS
      <!-- <br>  <br>  -->
    </p>
  </h2>
  <div class="col-sm-4 center-block" *ngFor="let trip of trips">
    <app-best-selling-trip [tripData]="trip" ></app-best-selling-trip>
  </div>
  <!-- <div class="col-sm-4 center-block" >
        <app-best-selling-trip ></app-best-selling-trip></div>
        <div class="col-sm-4 center-block" >
            <app-best-selling-trip></app-best-selling-trip></div>
            <div class="col-sm-4 center-block" >
                <app-best-selling-trip></app-best-selling-trip></div> -->
</div>

<!-- <div class="row  container center-block">
    <div class="col-sm-4 center-block" >
        <app-best-selling-trip></app-best-selling-trip></div>
        <div class="col-sm-4 center-block" >
            <app-best-selling-trip></app-best-selling-trip></div>
            <div class="col-sm-4 center-block">
                <app-best-selling-trip></app-best-selling-trip></div>
  </div> -->
<!-- <br><br><br> -->
<button type="button" class="btn btn-warning "
[routerLink]="['/best-selling']"
[queryParams]="{id: 3}"
  style="background-color:  darkorange;border-radius: 0px;height: 40px;margin-left: 44%; margin-right: auto;">EPLORE
  MORE</button>
