<div class="container" style="padding-left: 100px;
padding-right: 100px;">
<table class="table table-bordered table-hover "
style="height: 500px;"

>
<thead>
<tr>
    <th style="width: 250px;">
        Trip Name</th>
    <th ></th>
    <th ></th>
</tr>

</thead>
<tbody>
    <tr>
        <th >Price</th>
        <th ></th>
        <th ></th>
    </tr>

    <tr>
        <th >
            Activites
        </th>
        <th ></th>
        <th ></th>
    </tr>

    <tr>
        <th>Date</th>
        <th ></th>
        <th></th>
    </tr>

    <tr>
        <th>Hotels</th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th>Days</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Transportation</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Rate</th>
        <th></th>
        <th></th>
    </tr>
</tbody>

</table>
</div>