<div class="row">

    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12" style="margin-left:250px ;margin-top: 30px;">
            </div>
            <div class="col-sm-12 imgDiv">
                <img src="assets/images/searchSlide1.jpg">
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">

            <div class="col-sm-12">
                <h4 class="numAndplaceIfo">
                    {{numOfDays}} days in {{place}} ltinerary
                </h4>


                <h3>
                    <p class="rivewRate">
                        8.2
                    </p>



                    <p class="numOfRivew">
                        {{numOfRivew}} Rivew
                    </p>

                </h3>
                <div class="rateDiv">
                <rating [(ngModel)]="rate"
                 [max]="max"
                 [readonly]="isReadonly"
                 class="rate"
                   >
                </rating>
            </div>
            </div>
            <div class="col-sm-12tripDetail" >
                <ul 
                class="nav "
                *ngFor="let detail of TripDetails">

                    <li
                  
                     >
                     {{detail.TripDetail}}
                    </li>
                    
                  </ul>
               
               
            </div>
            <div class="col-sm-12" style="padding-top:30px;padding-bottom: 20px;">

                <button type="button" class="btn" style="height:50px;width:150px;color: royalblue;">Explore More
                </button>
                <div style="float: right;margin-right: 50px;">
                    <button type="button" class="btn btn-warning" style="height:50px;width:150px;
             background-color:darkorange ;float: left;
             border-radius: 0%;">
                        <h4>
                            {{numOfDays}} days $ {{price}}
                        </h4>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

<span class="glyphicon" [class.glyphicon-heart-empty]="isEmpty" [class.glyphicon-heart]="!isEmpty" (click)='liked()'
    style="color: red; font-size: 45px;
  float: right;
  margin-right: 40px;
  margin-top:-40px;
  ">
</span>