
            <div class="col-sm-12 john4 p-top" [routerLink]="['/single-trip', tripData.id]">



                            <img class="image/img-responsive" src="assets/images/lONDN.jpg" alt=""
                            style="width: 99%;"
                            >

                            <div class="col-sm-12 john">
                                <img src="assets/images/lONDN.jpg" alt=""
                                style="width: 99%;"
                                >

                            </div>



                </div>
