/* < "HOT DEALS PHOTO" CSS  >*/

.trip-card {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.trip-card-image {
  padding: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 1.35s;
  transition: transform 0.35s;
  visibility: hidden;
}

.trip-card:hover img {
  -webkit-transition: -webkit-transform 2.50s;
  transition: transform 2.50s;
  -webkit-transform: translate3d(0, -2%, 0);
  transform: translate3d(0, -2%, 0);
}

.trip-card:hover .img-responsive {
  opacity: .5;
}

.trip-card .trip-card-image {
  -webkit-transition: -webkit-transform 1.35s;
  transition: transform 1.35s;
  -webkit-transform: translate3d(0, 80%, 0);
  transform: translate3d(0, 80%, 0);
  visibility: visible;
}

.trip-card:hover .trip-card-image {
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0);
}

.trip-card:hover .trip-card-image {
  -webkit-transition-delay: .02s;
  transition-delay: .30s;
}

.col-sm-4:hover .trip-card-image {
  -webkit-transition-delay: .02s;
  transition-delay: .30s;
}
.img-w {
  width: 99%;
}
/* < "HOT DEALS PHOTO" CSS END >*/
