
<div class="row container center-block p-top"  >
    <h2 class="text-warning mb-0 p-bottom-50">
        HOT DEALS
    </h2>
    <div class="col-sm-4 m-top-20 center-block" 
    *ngFor="let trip of trips">
      <app-hot-deals-trip [tripData]="trip">
      </app-hot-deals-trip>
    </div>
     </div>
     <div class="row container buttom-div m-top-50 text-center">
        <button
        [routerLink]="['/hot-offers']"
        [queryParams]="{id:2, title: 'hola'}"
        type="button"
        class="btn btn-warning custom-btn">EPLORE MORE</button>
      </div>

