<div class="container-fluid" style="
padding-top: 70px;
background-color: blueviolet;

">
<div class="row" 
style="text-align: center; margin-bottom: 30px;"
>
<h1 style="color: white;">LATES BLOG POSTS</h1>
</div>
<div class="row" 
style="margin-left: 15px;
padding-left: 40px;padding-right: 40px;"

>
    <div class="col-sm-4" >
        <app-blog-post></app-blog-post>
    </div>

    <div class="col-sm-4">
        <app-blog-post></app-blog-post>
    </div>

    <div class="col-sm-4">
        <app-blog-post></app-blog-post>
    </div>
    <div class="col-sm-12 " style="margin-top: 40px;margin-bottom: 150px;align-items: center;">
    <button type="button" class="btn btn-warning" 
    style="background-color:  darkorange;border-radius: 0px;height: 40px;  margin-left: 40%;">EPLORE MORE</button>
</div>
  </div>
  </div>