<div class="p-top blog-section">
  <div class="container">
    <div class="row text-center m-top-30 m-bottom-30">
      <h1 class="white-text">LATES BLOG POSTS</h1>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <app-blog-post></app-blog-post>
      </div>

      <div class="col-sm-4">
        <app-blog-post></app-blog-post>
      </div>

      <div class="col-sm-4">
        <app-blog-post></app-blog-post>
      </div>
    </div>

    <div class="col-sm-12 text-center m-top">
      <button type="button" class="btn btn-warning custom-btn">EPLORE MORE</button>
    </div>

  </div>
</div>
