<div class="p-top-80">
    <div class="container  ">

        <div class="col-sm-3 p-top">

            <img src="assets/images/logo(blue).jpg" class="img img-circle img-thumbnail ">

            <div class="p-top-30">
                <rating [(ngModel)]="rate" [readonly]="isReadonly">
                </rating>
            </div>

            <h3 class="p-top-30 p-bottom-50 followers-num">
                <i> Followers {{followers|number}}</i>
            </h3>

        </div>

        <div class="col-sm-9 p-top">
            <div class=" p-left-50">

                <div class="edit-div">
                    <span class="glyphicon glyphicon-cog">
                </span>
                    <h5 class="edit-text">
                        Edit Profile
                    </h5>
                </div>

                <h2 class="p-bottom-50 company-name ">
                    {{companyName}}
                </h2>

                <h4 class="p-bottom-50">
                    {{location}}

                </h4>
            </div>
            <div>


                <h3 class="rateOfRivew">
                    8.2
                </h3>

                <h4 class="numOfRivew">
                    {{numOfRivew}} Reivew
                </h4>


                <div class="col-sm-9">
                    <h4>
                        {{description}}
                    </h4>

                </div>

            </div>

        </div>

    </div>
</div>